<div class="container">
  <div class="row">
    <h1 class="main-heading panel-heading col-sm-5">Listing users</h1>
    <%= link_to 'New user', new_user_path, class: "pull-right btn btn-primary" %>
  </div>

  <% unless @users.empty? %>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>

  <% end -%>

</div>