<div class="container">
  <div class="row">
    <h1 class="main-heading panel-heading col-sm-5">Listing Admins</h1>
    <%= link_to 'New Admin', new_admin_path, class: "pull-right btn btn-primary" %>
  </div>

  <%= render partial: 'filter', locals: { model: 'admins', search: params[:search] || {} } %>

  <% unless @admins.empty? %>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <%= render @admins %>
      </tbody>
    </table>

    <%= render partial: 'pagination', locals: { model: 'admins' } %>
    <% end -%>

</div>